<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>appTrackr</title>
</head>
<body>
    <h1>Welcome to appTrackr!</h1>
    
    <label>Add Application:
        <form>
            <input type="text" placeholder="Employer">
            <input type="datetime-local">
            <select>
                <option>Applied</option>
                <option>Rejected</option>
                <option>In-Contact</option>
            </select>
            <button type="button">Add</button>
        </form>
    </label>

    <h2>Applications:</h2>
    <ul id="appListUL"></ul>

</body>
</html>