<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>appTrackr</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <h1>Welcome to appTrackr!</h1>
    
    <label>Add Application:
        <form>
            <input id="jobTitle" type="text" placeholder="Job Title">
            <input id="company" type="text" placeholder="Company">
            <input id="applicationDate" type="date">
            <select id="status">
                <option>Applied</option>
                <option>In Progress</option>
                <option>Interviewed</option>
                <option>Offered</option>
                <option>Rejected</option>
            </select>
            <input id="notes" type="text" placeholder="Notes">
            <button id="addBtn" type="button">Add</button>
        </form>
    </label>

    <h2>Applications:</h2>
    <ul id="appListUL"></ul>

    <h2>Interviewing:</h2>
    <ul id="interviewingUL"></ul>

    <h2>Interviewed:</h2>
    <ul id="interviewedUL"></ul>

    <h2>Rejected:</h2>
    <ul id="rejectedUL"></ul>

    <script src="/addFunc.js"></script>
    <script src="/listApps.js"></script>
</body>
</html>