<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to appTraackr</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bcryptjs/2.4.3/bcrypt.js"></script>
</head>
<body>
    <label>Login</label>
    <form>
        <input type="text" placeholder="Email">
        <input type="text" placeholder="Password">
        <button type="submit">Login</button>
    </form>
</body>
</html>